@{
    ViewData["Title"] = "Home Page";
}


<div class="container d-flex h-100 ">
    <div class="row align-self-center w-100 ">
        <div class="col-6 mx-auto">
            <div class="card text-center ml-10 mt-9 mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Welcome!</h5>
                    <p class="card-text">This is a page where you can Create, Read, Update and Delete your favorites bands!</p>
                    <a class="btn btn-primary" asp-controller="Bands" >Let's take a look</a>
                </div>
            </div>
        </div>
    </div>
</div>
